<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtxln.user.mapper.AdminMapper">
    <update id="update" parameterType="com.qtxln.model.user.Admin">
        UPDATE u_admin set
        username = #{username},
        <if test="password != null and password != ''">
            password=#{password},
        </if>
        phone=#{phone},enable=#{enable},role_id=#{roleId},gmt_update=NOW()
        WHERE id = #{id}
    </update>
</mapper>